.footer {
  grid-area: footer;
  padding: var(--spacing-md) var(--side-padding) var(--spacing-xl);
}

.dark {
  background: var(--bg-black-noise);
  color: var(--color-white);
}

.wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: var(--spacing-md) var(--spacing-xl);
}

.content {
  font-size: var(--text-sm);
}

.content * + * {
  margin-top: var(--spacing-xs);
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: auto 1fr;
  }
}
